html {
  min-height: 100%;
}

body {
  font: 16px 'Montserrat', sans-serif;
  line-height: 1.8;
  color: #f5f6f7;

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/homebg_2.jpg") center center no-repeat fixed;
  background-size:  cover;
  background-color: #1b1b1b;
  background-attachment: fixed;
  max-width: 100%;
}

#main_page {
  overflow: hidden;
}

/* Need to add padding for the content to be displayed below navbar */
#about_page {
  padding-top: 70px; 
  margin-left: 10%;
  margin-right: 10%;  
}

p {font-size: 16px;}

/* Navbar transparent*/
.navbar.transparent.navbar-inverse {
  background: rgba(0,0,0,0.6);
  border: 1px solid black;
}

.dropdown-menu {
    background-color: #242424 !important;
}
.open .dropdown {
  background-color: #242424 !important;
}
/* Main */
.background {
  background-color: #000000ad;
  color: #f5f6f7;
  min-height: 100vh;
  background-size: cover;
}

.outer {
  display: table;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  /*whatever width you want*/
}

.footer {
  font: 8px 'Montserrat', sans-serif;
  background-color: #1b1b1b;
  width: 100%;
}
.icon {
  width: 50px;
  height: 50px;
  padding: 10px;
  vertical-align: middle;
  font-size: 28px;
}

.title {
  font: 64px 'Montserrat semi-bold', sans-serif;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.header_icon {
  width: 90px;
  height: 90px;
  margin-left: 10px;
  vertical-align: middle;
}

.jumbotron {
  font: 32px 'Montserrat semi-bold', sans-serif;
  background-color: transparent; padding: 0px;
}
/* Links */
a:link {
  color: #f5f6f7;
  text-decoration: none;
}
a:visited {
  color: #f5f6f7;
  text-decoration: none;
}
a:hover {
  color: #f41e1e;
  text-decoration: none;
}
a:active {
  color: #f41e1e;
  text-decoration: none;
}



/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.5);
}

#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}


/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}




/* Side scaling */
.row.content {height: 150px}

.sidenav {
  padding-top: 20px;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .sidebar {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}
